<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <resource>Experius_AddressLines::config_experius_addresslines</resource>
            <group id="experius_address_lines" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="900" translate="label">
                <label>Address Lines</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="experius_address_line1" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="900" translate="label">
                    <label>Line 1</label>
                    <field id="line_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                        <label>Line 1 Label</label>
                    </field>
                    <field id="line_required" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
                        <label>Line 1 Required</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_validation_classes" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Line 1 Validation</label>
                    </field>
                    <field id="line_min_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Line 1 Min Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                    <field id="line_max_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Line 1 Max Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                </group>
                <group id="experius_address_line2" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="900" translate="label">
                    <label>Line 2</label>
                    <field id="line_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
                        <label>enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_required" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                        <label>Line 2 Required</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
                        <label>Line 2 Label</label>
                    </field>
                    <field id="line_validation_classes" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label>Line 2 Validation</label>
                    </field>
                    <field id="line_min_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Line 2 Min Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                    <field id="line_max_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Line 2 Max Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                </group>
                <group id="experius_address_line3" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="900" translate="label">
                    <label>Line 3</label>
                    <field id="line_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
                        <label>enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_required" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                        <label>Line 3 Required</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
                        <label>Line 3 Label</label>
                    </field>
                    <field id="line_validation_classes" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label>Line 3 Validation</label>
                    </field>
                    <field id="line_min_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Line 3 Min Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                    <field id="line_max_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Line 3 Max Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                </group>
                <group id="experius_address_line4" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="900" translate="label">
                    <label>Line 4</label>
                    <field id="line_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
                        <label>enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_required" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                        <label>Line 4 Required</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="line_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
                        <label>Line 4 Label</label>
                    </field>
                    <field id="line_validation_classes" showInDefault="1" showInStore="1" showInWebsite="120" sortOrder="20" translate="label" type="text">
                        <label>Line 4 Validation</label>
                    </field>
                    <field id="line_min_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Line 4 Min Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                    <field id="line_max_length" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Line 4 Max Length</label>
                        <comment>Necessary for registrion page and address edit.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>